@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  text-align: center;
  padding: 2rem 0.6rem 1px;
  margin: 0;
  overflow-x: hidden;
  font-family: Calibri、Candara、Segoe、Segoe UI、Optima、Arial、sans-serif !important;
}

h1 {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.input-wrapper {
  margin-top: 1rem;
}
.input-wrapper #username {
  height: 1.2rem;
  padding: 0.2rem;
  font-size: 1.1rem;
}
.input-wrapper #period {
  padding: 0.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.input-wrapper #count-contribution {
  padding: 0.4rem 0.8rem;
  font-size: 1.1rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  background: rgb(185, 185, 185);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
@media (hover: hover) {
  .input-wrapper #count-contribution:hover {
    background: rgb(136, 206, 131);
    transform: translateY(-1px);
  }
}
.input-wrapper #count-contribution:active {
  background: rgb(136, 206, 131);
  transform: translateY(1px);
}

#result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
#result-wrapper .total {
  font-size: 1.5rem;
  font-weight: bold;
}
#result-wrapper .username {
  font-size: 1.1rem;
}
#result-wrapper .period {
  font-size: 1rem;
}
#result-wrapper .table-wrapper {
  overflow-x: auto;
  width: 95%;
}
#result-wrapper .table-wrapper::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.6rem;
}
#result-wrapper .table-wrapper::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
  border-radius: 1rem;
}
#result-wrapper .table-wrapper::-webkit-scrollbar-track {
  background: rgb(225, 225, 225);
  border-radius: 1rem;
}
#result-wrapper .table-wrapper table {
  margin: 1.2rem auto 0.4rem;
  table-layout: fixed;
}
#result-wrapper .table-wrapper table tr {
  width: 100%;
  height: 18px;
  margin-bottom: 2px;
}
#result-wrapper .table-wrapper table tr td {
  margin-right: 2px;
  width: 18px !important;
  height: 18px !important;
  min-width: 18px !important;
  min-height: 18px !important;
}

.tooltip {
  position: relative;
}
.tooltip .tooltip-description {
  width: 140px;
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateX(-90%);
  padding: 4px;
  border-radius: 10px;
  background-color: #666;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: 0.2s all;
  pointer-events: none;
}
.tooltip:hover .tooltip-description {
  bottom: 80%;
  visibility: visible;
  opacity: 0.6;
}

.color-description-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  margin: 2rem auto 16rem;
}
.color-description-wrapper .flex-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.color-description-wrapper .flex-wrapper .item {
  height: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.color-description-wrapper .flex-wrapper .item span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  transform: translateY(2px);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.color-description-wrapper .flex-wrapper .item p {
  display: inline-block;
  width: 4rem;
}
.color-description-wrapper .flex-wrapper:nth-child(1) > .item span {
  background: rgb(0, 255, 0);
}
.color-description-wrapper .flex-wrapper:nth-child(1) > .item:nth-child(1) > span {
  opacity: 0.3333333333;
}
.color-description-wrapper .flex-wrapper:nth-child(1) > .item:nth-child(2) > span {
  opacity: 0.6666666667;
}
.color-description-wrapper .flex-wrapper:nth-child(1) > .item:nth-child(3) > span {
  opacity: 1;
}
.color-description-wrapper .flex-wrapper:nth-child(2) > .item span {
  background: rgb(255, 255, 0);
}
.color-description-wrapper .flex-wrapper:nth-child(2) > .item:nth-child(1) > span {
  opacity: 0.3333333333;
}
.color-description-wrapper .flex-wrapper:nth-child(2) > .item:nth-child(2) > span {
  opacity: 0.6666666667;
}
.color-description-wrapper .flex-wrapper:nth-child(2) > .item:nth-child(3) > span {
  opacity: 1;
}
.color-description-wrapper .flex-wrapper:nth-child(3) > .item span {
  background: rgb(255, 165, 0);
}
.color-description-wrapper .flex-wrapper:nth-child(3) > .item:nth-child(1) > span {
  opacity: 0.3333333333;
}
.color-description-wrapper .flex-wrapper:nth-child(3) > .item:nth-child(2) > span {
  opacity: 0.6666666667;
}
.color-description-wrapper .flex-wrapper:nth-child(3) > .item:nth-child(3) > span {
  opacity: 1;
}
.color-description-wrapper .flex-wrapper:nth-child(4) > .item span {
  background: rgb(255, 0, 0);
}
.color-description-wrapper .flex-wrapper:nth-child(4) > .item:nth-child(1) > span {
  opacity: 0.3333333333;
}
.color-description-wrapper .flex-wrapper:nth-child(4) > .item:nth-child(2) > span {
  opacity: 0.6666666667;
}
.color-description-wrapper .flex-wrapper:nth-child(4) > .item:nth-child(3) > span {
  opacity: 1;
}
.color-description-wrapper .flex-wrapper:nth-child(5) > .item span {
  background: linear-gradient(135deg, rgba(0, 255, 255, 0.8), rgba(255, 0, 255, 0.8), rgba(255, 255, 0, 0.8));
}
.color-description-wrapper .flex-wrapper:nth-child(5) > .item:nth-child(1) > span {
  opacity: 0.3333333333;
}
.color-description-wrapper .flex-wrapper:nth-child(5) > .item:nth-child(2) > span {
  opacity: 0.6666666667;
}
.color-description-wrapper .flex-wrapper:nth-child(5) > .item:nth-child(3) > span {
  opacity: 1;
}

footer {
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
footer .link-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .link-wrapper a {
  color: rgb(0, 0, 255);
  text-decoration: none;
}
footer .link-wrapper a:hover {
  text-decoration: underline;
}