* { // now dont use destyle.css
    margin: 0;
    padding: 0;
}

body { 
    position: relative;
    text-align: center;
    // XXX: footer item will be fixed at the bottom by this 1px
    padding: 2rem .6rem 1px;
    margin: 0;
    overflow-x: hidden;
    font-family: Calibri、Candara、Segoe、Segoe UI、Optima、Arial、sans-serif !important;
}
h1 {
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: -1px;
}




footer {
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    // .content-description-wrapper {
    //     width: 90vw;
    //     max-width: 650px;
    //     margin: 0 auto 2rem;
    //     p {
    //         text-align: left;
    //     }
    // }
    .link-wrapper {
        width: 280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
            color: rgb(0, 0, 255);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
