* { // now dont use destyle.css
    margin: 0;
    padding: 0;
}

body { 
    position: relative;
    text-align: center;
    // XXX: footer item will be fixed at the bottom by this 1px
    padding: 2rem .6rem 1px;
    margin: 0;
    overflow-x: hidden;
    font-family: Calibri、Candara、Segoe、Segoe UI、Optima、Arial、sans-serif !important;
}
h1 {
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: -1px;
}


.input-wrapper {
    margin-top: 1rem;
    #username {
        height: 1.2rem;
        padding: .2rem;
        font-size: 1.1rem;
    }
    #period {
        // height: 1.2rem;
        padding: .2rem;
        font-size: 1.1rem;
        cursor: pointer;
    }
    #count-contribution {
        // height: 1.2rem;
        padding: .4rem .8rem;
        font-size: 1.1rem;
        margin-left: .4rem;
        margin-top: .4rem;
        background: rgb(185, 185, 185);
        box-shadow: 0 1px 2px rgba(0 0 0 / .6);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        @media (hover: hover) {
            &:hover {
                background: rgb(136, 206, 131);
                transform: translateY(-1px);
            }
        }
        &:active {
            background: rgb(136, 206, 131);
            transform: translateY(1px);
        }
    }
}



#result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    .total {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .username {
        font-size: 1.1rem;
    }
    .period {
        font-size: 1rem;
    }
    .table-wrapper {
        overflow-x: auto;
        width: 95%;
        &::-webkit-scrollbar {
            width: .4rem;
            height: .6rem;
            // TODO: always show the scrollbar
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(185, 185, 185);
            border-radius: 1rem;
        }
        &::-webkit-scrollbar-track {
            background: rgb(225, 225, 225);
            border-radius: 1rem;
        }
        table {
            margin: 1.2rem auto .4rem;
            table-layout: fixed;
            tr {
                width: 100%;
                height: 18px;
                margin-bottom: 2px;
                td {
                    margin-right: 2px;
                    width: 18px !important;
                    height: 18px !important;
                    min-width: 18px !important;
                    min-height: 18px !important;
                    // TODO: compare graph design with the following
                    // box-shadow: 3px 3px 3px rgba(0 0 0 / .1);
                }
            } 
        }
    }
}
// tooltip cell hover to display date and contribution count)
.tooltip {
    position: relative;
    .tooltip-description {
        width: 140px;
        position: absolute;
        left: 0;
        bottom: 50%;
        transform: translateX(-90%);
        padding: 4px;
        border-radius: 10px;
        background-color: #666;
        font-size: 0.75rem;
        color: #fff;
        // font-weight: bold;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        transition: 0.2s all;
        pointer-events: none;
    }
    &:hover .tooltip-description {
        bottom: 80%;
        visibility: visible;
        opacity: .6;
    }
}



.color-description-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    column-gap: 4rem;
    margin: 2rem auto 16rem;
    
    .flex-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        .item {
            height: 1rem;
            margin: 0;
            margin-bottom: .5rem;
            span {
                display: inline-block;
                width: 1rem;
                height: 1rem;
                transform: translateY(2px);
                box-shadow: 2px 2px rgba(0 0 0 / .2);
            }
            p {
                display: inline-block;
                width: 4rem;
            }
        }
        $colors:
            rgb(0 255 0),
            rgb(255 255 0),
            rgb(255 165 0),
            rgb(255 0 0),
            linear-gradient(135deg, rgb(0 255 255 / .8), rgb(255 0 255 / .8), rgb(255 255 0 / .8)),
        ;
        @for $i from 1 through length($colors) {
            &:nth-child(#{$i}) > .item {
                span {
                    background: nth($colors, $i);
                }
                @for $j from 1 through 3 {
                    &:nth-child(#{$j}) > span {
                        opacity: $j / 3;
                    }
                }
            }
        }
    }
}



footer {
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    .link-wrapper {
        width: 280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
            color: rgb(0, 0, 255);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
